.carousel__view {
  width: 280px;
  height: 350px;
  border: 1px solid grey;
  border-radius: 8.18569px;
  box-shadow: 0px 0px 24.5571px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;
}
.list-cards {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(290*5px);
  transition: all 1s;
  position: absolute;
  left: 0;
}
.list-cards__item {
  box-sizing: border-box;
  width: 280px;
  margin: 0 10px;
  font-size: 250px;
}
.markers {
  width: 270px;
  margin: 20px auto;
}
.markers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
  overflow: hidden;
  position: relative;
  background-color: #E8E2D5;
  display: flex;
  justify-content: space-between;
}
.markers__item {
  width: 50px;
  height: 4px;
  border-radius: 10px;
  box-shadow: 0 0 0 3.5px cornsilk;
  z-index: 2;
}
.markers__fill {
  width: 54px;
  height: 5px;
  position: absolute;
  left: 0px;
  top: -0.5px;
  background-color: #65C466;
  transition: all 1s;
  border-radius: 10px;
}
