.carousel-rev {
  width: auto;
  margin: 10px auto 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  column-gap: 30px;

  @media (min-width: @tablet-size) {
    width: 640px;
  }
}

.carousel-rev__view {
  grid-column-start: 1;
  grid-column-end: 3;
  width: auto;
  height: 167px;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  @media (min-width: @tablet-size) {
    height: 177px;
  }
}

.carousel-rev__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(310*4px);
  transition: all 1s;
  //transform: translateX(-290px);
  position: absolute;
  left: 0;

  @media (min-width: @tablet-size) {
    width: calc(320*4px);
  }
}

.carousel-rev__item {
  box-sizing: border-box;
  width: 300px;
  margin-right: 10px;

  @media (min-width: @tablet-size) {
    width: 310px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.markers__item {
  width: 49px;
  height: 4px;
  border-radius: 10px;
  box-shadow: 0 0 0 3.5px var(--background-page);
  z-index: 2;
}

.markers__fill {
  .markers__fill-service();
  width: 53px;
}

