.carousel-rev {
  width: 284px;
  margin: 0 auto;
}

.carousel-rev__view {
  width: 280px;
  height: 350px;
  border: 1px solid grey;
  border-radius: 8.18569px;
  box-shadow: 0px 0px 24.5571px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.carousel-rev__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(290*3px);
  transition: all 1s;
  //transform: translateX(-290px);
  position: absolute;
  left: 0;
}

.carousel-rev__item {
  box-sizing: border-box;
  width: 280px;
  margin: 0 10px;
  font-size: 250px;
}
