header {
  width: 320px;
  margin: 0 auto;
}

.header {
  width: 300px;
  margin: 0 auto;
  padding: 23px 10px 23px 10px;
  background-color: var(--main-color-green);
  border-radius: 5px;
  margin-bottom: 12px;
}

.header__text {
  .text-title();
  color: white;
}

.header__text-name {
  color: var(--dark-gray);
}

@media (min-width: @tablet-size) {
  header {
    width: 768px;
  }

  .header {
    width: 768px;
  }
}
