.text-title {
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.text-content {
  font-size: 14px;
  color: var(--dark-gray);
  margin: 10px 0;
}

@keyframes img-rotating {
  40% {
    transform: rotate(-7deg);
  }
}
