.text-content {
  font-size: 14px;
}
:root {
  --footer-color: #243246;
  --main-color-green: #65C466;
  --dark-gray: #414141;
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 10px;
  background-color: cornsilk;
  font-family: "Roboto", "Arial", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
main {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  width: 320px;
  margin: 0 auto;
}
.header {
  width: 300px;
  margin: 0 auto;
  padding: 23px 10px 23px 10px;
  background-color: var(--main-color-green);
  border-radius: 5px;
  margin-bottom: 12px;
}
.header__text {
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: white;
}
.header__text-name {
  color: var(--dark-gray);
}
.promo__slogan {
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--main-color-green);
  margin: 14px 0;
}
.promo {
  margin-bottom: 30px;
}
.service__title {
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: white;
  color: var(--main-color-green);
}
.carousel {
  width: 284px;
  margin: 0 auto;
}
.carousel__view {
  width: 280px;
  height: 350px;
  border: 1px solid grey;
  border-radius: 8.18569px;
  box-shadow: 0px 0px 24.5571px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;
}
.list-cards {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(290*5px);
  transition: all 1s;
  position: absolute;
  left: 0;
}
.list-cards__item {
  box-sizing: border-box;
  width: 280px;
  margin: 0 10px;
  font-size: 250px;
}
.markers {
  width: 270px;
  margin: 20px auto;
}
.markers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
  overflow: hidden;
  position: relative;
  background-color: #E8E2D5;
  display: flex;
  justify-content: space-between;
}
.markers__item {
  width: 50px;
  height: 4px;
  border-radius: 10px;
  box-shadow: 0 0 0 3.5px cornsilk;
  z-index: 2;
}
.markers__fill {
  width: 54px;
  height: 5px;
  position: absolute;
  left: 0px;
  top: -0.5px;
  background-color: #65C466;
  transition: all 1s;
  border-radius: 10px;
}
.carousel-rev {
  width: 284px;
  margin: 0 auto;
}
.carousel-rev__view {
  width: 280px;
  height: 350px;
  border: 1px solid grey;
  border-radius: 8.18569px;
  box-shadow: 0px 0px 24.5571px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
.carousel-rev__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(290*3px);
  transition: all 1s;
  position: absolute;
  left: 0;
}
.carousel-rev__item {
  box-sizing: border-box;
  width: 280px;
  margin: 0 10px;
  font-size: 250px;
}
footer {
  background-color: var(--footer-color);
}
.footer {
  width: 320px;
  margin: 0 auto;
  padding: 13px;
}
.footer__contacts {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
}
